# Infrastructure dataset

## Importing packages and filepath

In [1]:
#Importing the packages
import pandas as pd
import numpy as np

In [2]:
#Importing filepath
filepath = 'C:/Users/User/Documents/Data Science/Data/infra_df_raw.csv'

In [4]:
infra = pd.read_csv(filepath)
infra.head()

,Country Name,Country Code,"Air transport, freight (million ton-km)","Air transport, registered carrier departures worldwide",Container port traffic (TEU: 20 foot equivalent units),Liner shipping connectivity index (maximum value in 2004 = 100),Rail lines (total route-km),"Railways, goods transported (million ton-km)"
0,Afghanistan,AFG,20.014206,7334.00,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,3732.431229,717795.30,NaN,NaN,NaN,NaN
2,Africa Western and Central,AFW,32.295049,158874.79,7.839717e+06,NaN,NaN,NaN
3,Albania,ALB,0.000000,2558.00,1.847935e+04,6.156351,NaN,42.94
4,Algeria,DZA,25.641745,76049.00,6.885000e+05,12.602886,4020.25,NaN

In [8]:
infra.tail()

,Country Name,Country Code,"Air transport, freight (million ton-km)","Air transport, registered carrier departures worldwide",Container port traffic (TEU: 20 foot equivalent units),Liner shipping connectivity index (maximum value in 2004 = 100),Rail lines (total route-km),"Railways, goods transported (million ton-km)"
243,Vietnam,VNM,1022.84225,332029.0,13658930.0,61.391166,2481.0,NaN
244,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,5.728541,NaN,NaN
245,"Yemen, Rep.",YEM,0.00000,NaN,464923.0,7.849203,NaN,NaN
246,Zambia,ZMB,79.33500,1298.0,NaN,NaN,NaN,NaN
247,Zimbabwe,ZWE,0.00000,NaN,NaN,NaN,NaN,NaN

## Inspecting the data

In [5]:
#Checking the info, 248 rows and 8 columns
infra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 8 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Country Name                                                     248 non-null    object
 1   Country Code                                                     248 non-null    object
 2   Air transport, freight (million ton-km)                          209 non-null    float64
 3   Air transport, registered carrier departures worldwide           203 non-null    float64
 4   Container port traffic (TEU: 20 foot equivalent units)           206 non-null    float64
 5   Liner shipping connectivity index (maximum value in 2004 = 100)  167 non-null    float64
 6   Rail lines (total route-km)                                      37 non-null     float64
 7   Railways, goods transported (million ton-km)                     59 non-null     float64
dtypes: float64(6), object(2)
memory usage: 15.6+ KB

In [7]:
#Checking for duplicates, there are none
infra[infra.duplicated()]

Empty DataFrame
Columns: [Country Name, Country Code, Air transport, freight (million ton-km), Air transport, registered carrier departures worldwide, Container port traffic (TEU: 20 foot equivalent units), Liner shipping connectivity index (maximum value in 2004 = 100), Rail lines (total route-km), Railways, goods transported (million ton-km)]
Index: []

In [9]:
infra.isnull().sum()

Country Name                                                         0
Country Code                                                         0
Air transport, freight (million ton-km)                             39
Air transport, registered carrier departures worldwide              45
Container port traffic (TEU: 20 foot equivalent units)              42
Liner shipping connectivity index (maximum value in 2004 = 100)     81
Rail lines (total route-km)                                        211
Railways, goods transported (million ton-km)                       189
dtype: int64

In [10]:
#Importing EDA functions
import sys
sys.path.insert(0, 'C:/Users/User/Documents/Data Science/_m1-m2 - Exploratory Data Analysis_/_m1-m2 - Exploratory Data Analysis_')

from Functions_EDA import *

In [11]:
#Checking the percentage of null values
percentage_nullValues(infra)

                                                    Percentage_NaN
Rail lines (total route-km)                                   85.1
Railways, goods transported (million ton-km)                  76.2
Liner shipping connectivity index (maximum valu...            32.7
Air transport, registered carrier departures wo...            18.1
Container port traffic (TEU: 20 foot equivalent...            16.9
Air transport, freight (million ton-km)                       15.7
Country Name                                                   0.0
Country Code                                                   0.0

In [12]:
#Dropping the ones with a threshold higher than 30%
infra = select_threshold(infra, 30)

Columns to keep: 5
Those columns have a percentage of NaN less than 30 :
['Air transport, registered carrier departures worldwide', 'Container port traffic (TEU: 20 foot equivalent units)', 'Air transport, freight (million ton-km)', 'Country Name', 'Country Code']

In [14]:
#Checking the modification, there should be 5 columns
infra.shape

(248, 5)

In [15]:
#Filling the remaining null values with the mean
infra = fill_na(infra)

Number of missing values on your dataset are

Air transport, registered carrier departures worldwide    0
Container port traffic (TEU: 20 foot equivalent units)    0
Air transport, freight (million ton-km)                   0
Country Name                                              0
Country Code                                              0
dtype: int64

In [16]:
#Checking after modification
infra.isnull().sum()

Air transport, registered carrier departures worldwide    0
Container port traffic (TEU: 20 foot equivalent units)    0
Air transport, freight (million ton-km)                   0
Country Name                                              0
Country Code                                              0
dtype: int64

In [17]:
#Checking info after modification
infra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 5 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Air transport, registered carrier departures worldwide  248 non-null    float64
 1   Container port traffic (TEU: 20 foot equivalent units)  248 non-null    float64
 2   Air transport, freight (million ton-km)                 248 non-null    float64
 3   Country Name                                            248 non-null    object
 4   Country Code                                            248 non-null    object
dtypes: float64(3), object(2)
memory usage: 9.8+ KB

In [18]:
infra.columns

Index(['Air transport, registered carrier departures worldwide',
       'Container port traffic (TEU: 20 foot equivalent units)',
       'Air transport, freight (million ton-km)', 'Country Name',
       'Country Code'],
      dtype='object')

In [19]:
infra

,"Air transport, registered carrier departures worldwide",Container port traffic (TEU: 20 foot equivalent units),"Air transport, freight (million ton-km)",Country Name,Country Code
0,7.334000e+03,2.981833e+07,20.014206,Afghanistan,AFG
1,7.177953e+05,2.981833e+07,3732.431229,Africa Eastern and Southern,AFE
2,1.588748e+05,7.839717e+06,32.295049,Africa Western and Central,AFW
3,2.558000e+03,1.847935e+04,0.000000,Albania,ALB
4,7.604900e+04,6.885000e+05,25.641745,Algeria,DZA
...,...,...,...,...,...
243,3.320290e+05,1.365893e+07,1022.842250,Vietnam,VNM
244,1.373553e+06,2.981833e+07,6972.473186,Virgin Islands (U.S.),VIR
245,1.373553e+06,4.649230e+05,0.000000,"Yemen, Rep.",YEM
246,1.298000e+03,2.981833e+07,79.335000,Zambia,ZMB
247,1.373553e+06,2.981833e+07,0.000000,Zimbabwe,ZWE